@media only screen and (min-width: 1610px) and (max-width: 1800px){


}


@media only screen and (min-width: 1400px) and (max-width: 1610px){

  .side-container{
    margin-left: calc((100% - 1363px) / 2);
  }
    

}



@media only screen and (min-width: 1200px) and (max-width: 1400px) {

  .side-container{
    margin-left: calc((100% - 1143px) / 2);
  }

  .press-box .press-info h1 {
    font-size: 22px;
    line-height: 26px;
}

.font-2xl {
  font-size: 40px;
  line-height: 42px;
}

.footer-link-wrap ul li a {
  font-size: 18px;
}

.location-item-area {
  margin: 230px 0 133px;
}
  
  
}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 

  .side-container {
    margin-left: calc((100% - 977px) / 2);
  }

  .press-box .press-info h1 {
    font-size: 22px;
    line-height: 26px;
}

.font-2xl {
  font-size: 40px;
  line-height: 42px;
}

.footer-link-wrap ul li a {
  font-size: 18px;
}

.location-item-area {
  margin: 230px 0 133px;
}


}

/* Medium Layout: 1280px. end */




/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
  .hero-area {
    background-size: cover;
    background-position: center left;
    padding: 269px 0 66px;
    height: unset;
  }

  .contact-hero li a {
    font-size: 13px;
  }

  .contact-hero {
    justify-content: space-around;
    bottom: 20px;
}



}
/* Tablet Layout: 768px. end */





/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 



}


/* Mobile Layout: 320px. end */






/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 



}
/* Wide Mobile Layout: 480px. end */






/* Tablet & Mobile Layout: 768px. */
@media only screen and (max-width: 991px) {

.mobt-60 {
  margin-top: 60px;
}

.mobt-24 {
  margin-top: 24px;
}


.side-container {
  margin-left: unset;
  width: unset;
  min-width: unset;
  max-width: unset;
}


.press-box .press-info h1 {
  font-size: 18px;
  line-height: 22px;
}

.font-2xl {
  font-size: 30px;
  line-height: 32px;
}

.sub-heading {
  font-size: 12px;
}

.press-slider {
  padding-left: 20px;
  margin-top: 50px;
}

.res-top{
  padding-top: 50px;
}

.res-bottom{
  padding-bottom: 50px;
}

.map-wrap {
  height: 525px;
}

.footer-link-wrap ul li a {
  font-size: 18px;
}


.devider-border::before {
  display: none;
}

.footer-devider-sm {
  border-bottom: 1px solid #fff;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.news-form .input-mail button {
  position: relative;
  right: unset;
  top: unset;
  transform: unset;
  height: unset;
}

.link-row {
  margin-top: 52px;
}

.footer-link-wrap {
  flex-direction: column;
}

.footer-link-wrap ul li {
  display: block;
  text-align: center;
}

.footer-link-wrap ul.footer-link li {
  margin-right: 0;
  margin-bottom: 24px;
}

.footer-copy {
  margin-top: 50px;
}

.footer-copy p a {
  display: block;
  margin-left: 0;
}

.getin__style h2 {
  font-size: 100px;
}

.getin__style {
  padding: 50px 0 0;
}

.footer-area {
  padding: 74px 0 60px;
}


.animi__wrap .animi_layer__one, .experience-wrap .animi_layer__one {
  position: absolute;
  right: 0;
  top: unset;
  height: calc((100% - 515px) / 2);
  background: #387083;
  mix-blend-mode: normal;
  width: 100% !important;
  z-index: -1;
  bottom: 0;
}

.experience-wrap .animi_layer__one {
  height: calc((100% - 324px) / 2);
}

.project__video .porject_video__thumb::before, .experience-section .porject_video__thumb::before {
  right: 0;
  width: 100%;
  height: 50%;
  top: unset;
  bottom: 0;
}

.project__video {
  padding-bottom: 50px;
  padding-top: 50px;
}

.project-bg-b{
  z-index: -1;
  top: 0;
}

.project_video__wrap .video__btn {
  background: none;
  border: 1px solid #fff;
}

.project_video__wrap span {
  color: #fff;
}

.project_video__wrap {
  text-align: center;
}

.experience-section {
  padding: 0px 0;
}

.experience-section-wrap {
  padding-top: 0 !important;
  margin-top: 50px;
}

.experience-wrap {
  padding-bottom: 50px;
}

.animi_team__wrap {
  margin-top: 0px;
}

.team-area {
  padding: 192px 0 62px;
}

.team-gap {
  margin-top: 100px;
}

.hero-location {
  padding: 200px 0 97px;
}

.location-item-box.has-margin {
  margin-top: 0;
}

.location-item-area {
  margin: 50px 0 36px;
  z-index: 1;
}


.about__gif.orange {
  margin-top: 78px;
}

.about-project-area{
  padding: 50px 0;
}

}

